In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
dataset = pd.ExcelFile(r"C:\Users\vidhy\Downloads\V02Max_Combined.xlsx")

Athletes = pd.read_excel(dataset, sheet_name = 'Athletes')
Kayaking = pd.read_excel(dataset, sheet_name = 'Kayaking')
Triathlon = pd.read_excel(dataset, sheet_name = 'Triathlon')
Fencing = pd.read_excel(dataset, sheet_name = 'Fencing')

C:\Users\vidhy\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\vidhy\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\vidhy\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [2]:
combined=pd.concat([Kayaking,Triathlon,Fencing])
print(combined)

       ID     time     RR       VO2  power
0      11 -168.600  727.0  0.287147      0
1      11 -167.872  728.0  0.287147      0
2      11 -167.148  724.0  0.287147      0
3      11 -166.484  664.0  0.320580      0
4      11 -165.836  648.0  0.320580      0
...    ..      ...    ...       ...    ...
27598  10  942.700  428.0  0.786363      0
27599  10  943.124  424.0  0.786363      0
27600  10  943.552  428.0  0.786363      0
27601  10  943.976  424.0  0.786363      0
27602  10  944.404  428.0  0.786363      0

[52062 rows x 5 columns]

In [3]:
merged=pd.merge(combined,Athletes,on='ID')
print(merged)

       ID     time     RR       VO2  power  age  Weight  Height  P_vt1  P_vt2  \
0      11 -168.600  727.0  0.287147      0   18    84.8     182    174    268
1      11 -167.872  728.0  0.287147      0   18    84.8     182    174    268
2      11 -167.148  724.0  0.287147      0   18    84.8     182    174    268
3      11 -166.484  664.0  0.320580      0   18    84.8     182    174    268
4      11 -165.836  648.0  0.320580      0   18    84.8     182    174    268
...    ..      ...    ...       ...    ...  ...     ...     ...    ...    ...
52057  10  942.700  428.0  0.786363      0   14    58.8     177    101    162
52058  10  943.124  424.0  0.786363      0   14    58.8     177    101    162
52059  10  943.552  428.0  0.786363      0   14    58.8     177    101    162
52060  10  943.976  424.0  0.786363      0   14    58.8     177    101    162
52061  10  944.404  428.0  0.786363      0   14    58.8     177    101    162

         sport  Gender Ethnicity First Name Last Name
0        kayak  Female   African   Isabella   Griffin
1        kayak  Female   African   Isabella   Griffin
2        kayak  Female   African   Isabella   Griffin
3        kayak  Female   African   Isabella   Griffin
4        kayak  Female   African   Isabella   Griffin
...        ...     ...       ...        ...       ...
52057  fencing  Female   African       Lily    Jordan
52058  fencing  Female   African       Lily    Jordan
52059  fencing  Female   African       Lily    Jordan
52060  fencing  Female   African       Lily    Jordan
52061  fencing  Female   African       Lily    Jordan

[52062 rows x 15 columns]

In [ ]:
#13)What were the Highest 3 V02 Maxes recorded. Display all 3 names, sport and personal V02 Maxes?

In [9]:
Sorted_Combined=merged.sort_values(by ="VO2", ascending=False)
Sorted_Combined.head(3)

,ID,time,RR,VO2,power,age,Weight,Height,P_vt1,P_vt2,sport,Gender,Ethnicity,First Name,Last Name
10488,13,1155.388,320.0,4.576774,305,18,83.9,183,144,267,kayak,Female,Asian,Mia,Carpenter
10489,13,1155.716,328.0,4.576774,305,18,83.9,183,144,267,kayak,Female,Asian,Mia,Carpenter
10490,13,1156.040,324.0,4.576774,305,18,83.9,183,144,267,kayak,Female,Asian,Mia,Carpenter

In [ ]:
#14)What were the lowest 3 V02 Maxes recorded. Display all 3 names, sport and personal V02 Maxes.

In [11]:
Sorted_Combined=merged.sort_values(by ="VO2", ascending=True)
Sorted_Combined.head(3)

,ID,time,RR,VO2,power,age,Weight,Height,P_vt1,P_vt2,sport,Gender,Ethnicity,First Name,Last Name
46779,9,-83.824,532.0,0.069354,0,14,57.1,176,50,125,fencing,Female,African,Chloe,Price
46782,9,-82.212,548.0,0.069354,0,14,57.1,176,50,125,fencing,Female,African,Chloe,Price
46781,9,-82.760,536.0,0.069354,0,14,57.1,176,50,125,fencing,Female,African,Chloe,Price

In [50]:
conditions=[
    (combined['time']<0),
    (combined['time']>0) & (combined['power']>0),
    (combined['time']>0) & (combined['power']==0)
]
choices=['Warm up','Get','Cool down']
combined['stage']=np.select(conditions,choices,default='cool down')
print(combined)

       ID     time     RR       VO2  power      stage
0      11 -168.600  727.0  0.287147      0    Warm up
1      11 -167.872  728.0  0.287147      0    Warm up
2      11 -167.148  724.0  0.287147      0    Warm up
3      11 -166.484  664.0  0.320580      0    Warm up
4      11 -165.836  648.0  0.320580      0    Warm up
...    ..      ...    ...       ...    ...        ...
27598  10  942.700  428.0  0.786363      0  Cool down
27599  10  943.124  424.0  0.786363      0  Cool down
27600  10  943.552  428.0  0.786363      0  Cool down
27601  10  943.976  424.0  0.786363      0  Cool down
27602  10  944.404  428.0  0.786363      0  Cool down

[52062 rows x 6 columns]

In [ ]:
#3)What was the average time each tested lasted excluding warm up for all athletes?

In [25]:
test_combined=combined[combined['stage']=='Get']
#print(test_combined)
avg_time=test_combined['time'].mean()
print(f'The average time each test lasted excluding warmup for all athelets is {avg_time:.2f} minutes')

       ID     time     RR       VO2  power stage
239    11    0.704  704.0  0.820300     50   Get
240    11    1.452  748.0  0.622244     50   Get
241    11    2.184  732.0  0.622244     50   Get
242    11    2.864  680.0  0.622244     50   Get
243    11    3.508  644.0  0.766708     50   Get
...    ..      ...    ...       ...    ...   ...
27080  10  750.688  316.0  1.903905    200   Get
27081  10  751.004  316.0  1.903905    200   Get
27082  10  751.324  320.0  1.966324    200   Get
27083  10  751.640  316.0  1.966324    200   Get
27084  10  751.956  316.0  1.993441    200   Get

[38715 rows x 6 columns]
The average time each test lasted excluding warmup for all athelets is 512.73 minutes

In [ ]:
#5)What was the average time each test lasted (including warm up) for all athletes?

In [27]:
Test_Warmup=combined[(combined['stage']=='Get') & (combined['stage']=='Warm up')]
print(Test_Warmup)
avg_time_warmup=Test_Warmup['time'].mean()
print(f'The average time each test lasted including warmup for all athelets is {avg_time:.2f} minutes')

Empty DataFrame
Columns: [ID, time, RR, VO2, power, stage]
Index: []
The average time each test lasted including warmup for all athelets is 512.73 minutes

In [ ]:
#4)Athletes from which sport had the highest average cardiorespiratory fitness in terms of HRV?

In [37]:

avg_HRV_sport=merged.groupby('sport')['RR'].mean()
#print(avg_HRV_sport)
Highest_avg_HRV_sport=avg_HRV_sport.idxmax()
#print(Highest_avg_HRV_sport)
Highest_HRV_value=avg_HRV_sport.max()
#print(Highest_HRV_value)
print(f'The sport with highest average cadiorespiratory fitness in terms of HRV (RR interval) is {Highest_avg_HRV_sport} with an average HRV of {Highest_HRV_value:.2f}')

The sport with highest average cadiorespiratory fitness in terms of HRV (RR interval) is triathlon with an average HRV of 448.37

In [ ]:
#6)What was the most common  wattage (above 0) achieved by participants and for how many seconds (average time)? You may choose to show averages based on any one/all sports.

In [49]:

merged=merged[merged['power']>0]
wattage=merged['power'].mode()[0]
common_wattage=merged[merged['power'] == wattage]
average_time=common_wattage['time'].mean()
print(f'common wattage{wattage:.2f}average time:{average_time:.2f}')

common wattage50.00average time:92.24