In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.ExcelFile(r"C:\Users\vidhy\Downloads\V02Max_Combined.xlsx")

Athletes = pd.read_excel(dataset, sheet_name = 'Athletes')
Kayaking = pd.read_excel(dataset, sheet_name = 'Kayaking')
Triathlon = pd.read_excel(dataset, sheet_name = 'Triathlon')
Fencing = pd.read_excel(dataset, sheet_name = 'Fencing')

C:\Users\vidhy\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\vidhy\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\vidhy\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [3]:
print(Kayaking)

       ID      time     RR       VO2  power
0      11  -168.600  727.0  0.287147      0
1      11  -167.872  728.0  0.287147      0
2      11  -167.148  724.0  0.287147      0
3      11  -166.484  664.0  0.320580      0
4      11  -165.836  648.0  0.320580      0
...    ..       ...    ...       ...    ...
19473  16  1118.404  548.0  0.671957      0
19474  16  1118.944  540.0  0.671957      0
19475  16  1119.484  540.0  0.671957      0
19476  16  1120.016  532.0  0.671957      0
19477  16  1120.544  528.0  0.671957      0

[19478 rows x 5 columns]

In [6]:
print(Athletes)

    ID  age  Weight  Height  P_vt1  P_vt2      sport  Gender Ethnicity  \
0    1   15    53.7     161     50    140    fencing  Female   African
1    2   15    56.2     162     80    127    fencing    Male   African
2    3   16    89.9     191    155    300    fencing    Male     White
3    4   16    76.5     180    215    275    fencing    Male     White
4    5   17    76.4     186    110    172    fencing  Female     White
5    6   17    65.6     169    131    186    fencing  Female     White
6    7   15    49.8     165     65    108    fencing  Female     White
7    8   15    51.2     165     80    133    fencing  Female     White
8    9   14    57.1     176     50    125    fencing  Female   African
9   10   14    58.8     177    101    162    fencing  Female   African
10  11   18    84.8     182    174    268      kayak  Female   African
11  12   18    86.0     183    170    294      kayak    Male   African
12  13   18    83.9     183    144    267      kayak  Female     Asian
13  14   13    62.3     171    140    170      kayak  Female     Asian
14  15   13    63.5     172    125    156      kayak    Male    Latino
15  16   16    70.4     182     79    175      kayak    Male    Latino
16  17   12    39.9     156    101    145  triathlon    Male    Latino
17  18   12    39.7     158     65    168  triathlon    Male    Latino

   First Name  Last Name
0      Olivia   Martinez
1       Ethan   Reynolds
2     Jackson     Harper
3        Liam    Sanchez
4         Ava   Thompson
5      Sophia  Rodriguez
6       Grace    Simmons
7       Aiden    Bennett
8       Chloe      Price
9        Lily     Jordan
10   Isabella    Griffin
11      Caleb      Dixon
12        Mia  Carpenter
13     Harper   Mitchell
14      Mason    Wallace
15      Logan   Anderson
16      Lucas     Foster
17       Owen      Myers

In [7]:
print(Triathlon)

      ID     time     RR       VO2  power
0     17 -182.408  736.0  0.363762      0
1     17 -181.672  736.0  0.363762      0
2     17 -180.968  704.0  0.363762      0
3     17 -180.268  700.0  0.363762      0
4     17 -179.616  652.0  0.363762      0
...   ..      ...    ...       ...    ...
4976  18  947.288  536.0  0.507071      0
4977  18  947.816  528.0  0.507071      0
4978  18  948.344  528.0  0.507071      0
4979  18  948.884  540.0  0.507071      0
4980  18  949.424  540.0  0.507071      0

[4981 rows x 5 columns]

In [8]:
print(Fencing)

       ID     time   RR       VO2  power
0       1 -130.840  672  0.302008      0
1       1 -130.168  672  0.302008      0
2       1 -129.536  632  0.301336      0
3       1 -128.824  712  0.301336      0
4       1 -127.948  876  0.301336      0
...    ..      ...  ...       ...    ...
27598  10  942.700  428  0.786363      0
27599  10  943.124  424  0.786363      0
27600  10  943.552  428  0.786363      0
27601  10  943.976  424  0.786363      0
27602  10  944.404  428  0.786363      0

[27603 rows x 5 columns]

In [ ]:
#8) What are the names of the kayaking athletes?

In [10]:
merged=pd.merge(Kayaking,Athletes, on='ID')
print(merged)

       ID      time     RR       VO2  power  age  Weight  Height  P_vt1  \
0      11  -168.600  727.0  0.287147      0   18    84.8     182    174
1      11  -167.872  728.0  0.287147      0   18    84.8     182    174
2      11  -167.148  724.0  0.287147      0   18    84.8     182    174
3      11  -166.484  664.0  0.320580      0   18    84.8     182    174
4      11  -165.836  648.0  0.320580      0   18    84.8     182    174
...    ..       ...    ...       ...    ...  ...     ...     ...    ...
19473  16  1118.404  548.0  0.671957      0   16    70.4     182     79
19474  16  1118.944  540.0  0.671957      0   16    70.4     182     79
19475  16  1119.484  540.0  0.671957      0   16    70.4     182     79
19476  16  1120.016  532.0  0.671957      0   16    70.4     182     79
19477  16  1120.544  528.0  0.671957      0   16    70.4     182     79

       P_vt2  sport  Gender Ethnicity First Name Last Name
0        268  kayak  Female   African   Isabella   Griffin
1        268  kayak  Female   African   Isabella   Griffin
2        268  kayak  Female   African   Isabella   Griffin
3        268  kayak  Female   African   Isabella   Griffin
4        268  kayak  Female   African   Isabella   Griffin
...      ...    ...     ...       ...        ...       ...
19473    175  kayak    Male    Latino      Logan  Anderson
19474    175  kayak    Male    Latino      Logan  Anderson
19475    175  kayak    Male    Latino      Logan  Anderson
19476    175  kayak    Male    Latino      Logan  Anderson
19477    175  kayak    Male    Latino      Logan  Anderson

[19478 rows x 15 columns]

In [12]:
result=merged[['ID','First Name','Last Name']]
print(result)

       ID First Name Last Name
0      11   Isabella   Griffin
1      11   Isabella   Griffin
2      11   Isabella   Griffin
3      11   Isabella   Griffin
4      11   Isabella   Griffin
...    ..        ...       ...
19473  16      Logan  Anderson
19474  16      Logan  Anderson
19475  16      Logan  Anderson
19476  16      Logan  Anderson
19477  16      Logan  Anderson

[19478 rows x 3 columns]

In [ ]:
 
 	
#16)Calculate the BMI of every athlete and display it as a list.